button {
  padding: 6px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #29292b;
  border: none;
  border-radius: 4px;
  font-family: "Geist Mono";
  color: #29292b;
  font-weight: 600;
  background-color: #e2e2e2;
  transition: background-color 0.1s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ffffff;
}

button.btn-small {
  width: 36px;
  height: 36px;
}

button.btn-large {
  width: 48px;
  height: 48px;
}

button.btn-active {
  background-color: #6efd8d;
}

button:disabled {
  background-color: #727272;
  cursor: not-allowed;
}
