:root{
  --primary-accent: #6efd8d;
  --surface-primary: #e2e2e2;
  --surface-disabled: #727272;
  --text-light: #ffffff;
  --text-light-secondary: #ffffff85;
  --text-dark: #29292b;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body, p, h1, h2{
  margin: 0px;
  padding: 0px;
}

p{
  font-family: "Geist Mono";
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 0.75s fadeInUp;
}